<div class="{{ index .Params 0 }}" data-ff-el="root" data-ff-version="3" data-ff-type="inline" data-ff-name="inlineImage">
  <!--tpl {% block config %} tpl-->
  <div data-ff-el="config" data-ff-config="eyJ0cmlnZ2VyIjp7Im1vZGUiOiJpbW1lZGlhdGVseSIsInZhbHVlIjowfSwib25TdWNjZXNzIjp7Im1vZGUiOiJyZWRpcmVjdCIsIm1lc3NhZ2UiOiIiLCJyZWRpcmVjdFVybCI6Imh0dHBzOi8vZG9jcy5nb29nbGUuY29tL2Zvcm1zL2QvZS8xRkFJcFFMU2Z6eFFOSDV6b0VkRE5qcmNzQjd4UzdsdW1sVGhlbEZrNHhlVW1XQkpRcXNZTy00US92aWV3Zm9ybT91c3A9c2ZfbGluayJ9LCJjb2kiOmZhbHNlLCJzaG93Rm9yUmV0dXJuVmlzaXRvcnMiOnRydWUsIm5vdGlmaWNhdGlvbiI6ZmFsc2V9" style="display: none"></div>
  <!--tpl {% endblock %} tpl-->
  <div class="ff-6157d077c71e8685f183b6c7__container">
    <div class="ff-6157d077c71e8685f183b6c7__background is-solid">
      <div style="background: linear-gradient(to right bottom, #00aad4 50%, #d4aa00 50%)"></div>
    </div>
    <div class="ff-6157d077c71e8685f183b6c7__wrapper">
      <div class="ff-6157d077c71e8685f183b6c7__left">
        <div class="ff-6157d077c71e8685f183b6c7__image is-square">
          <div class="ff-6157d077c71e8685f183b6c7__image-inner"> </div>
        </div>
      </div>
      <div class="ff-6157d077c71e8685f183b6c7__right">
        <form class="ff-6157d077c71e8685f183b6c7__form" action="https://form.flodesk.com/forms/6157d077c71e8685f183b6c7/submit" method="post" data-ff-el="form">
          <div class="ff-6157d077c71e8685f183b6c7__title">
            <div>
              <div style="text-align:center;" data-paragraph="true"><span style="font-family:freight-big-pro, serif;">I want<strong> 20%</strong> off a Science Writing Lab!</span></div>
            </div>
          </div>
          <div class="ff-6157d077c71e8685f183b6c7__subtitle">
            <div>
              <div data-paragraph="true"><span style="font-family:Roboto, sans-serif;">Sign up below to take advantage of our limited time offer for 20% off a Science Writing Lab! We'll send you everything you need to get registered and your lab scheduled.</span></div>
            </div>
          </div>
          <div class="ff-6157d077c71e8685f183b6c7__content fd-form-content" data-ff-el="content">
            <div class="ff-6157d077c71e8685f183b6c7__fields" data-ff-el="fields">
              <!--tpl {% block fields %} tpl-->

              <div class="ff-6157d077c71e8685f183b6c7__field fd-form-group">
                <input class="ff-6157d077c71e8685f183b6c7__control fd-form-control" type="text" name="firstName" placeholder="First name" data-ff-tab="firstName::email" required />
                <label class="ff-6157d077c71e8685f183b6c7__label fd-form-label">First name</label>
              </div>


              <div class="ff-6157d077c71e8685f183b6c7__field fd-form-group">
                <input class="ff-6157d077c71e8685f183b6c7__control fd-form-control" type="text" name="email" placeholder="Email address" data-ff-tab="email:firstName:fields.institution" required />
                <label class="ff-6157d077c71e8685f183b6c7__label fd-form-label">Email address</label>
              </div>


              <div class="ff-6157d077c71e8685f183b6c7__field fd-form-group">
                <input class="ff-6157d077c71e8685f183b6c7__control fd-form-control" type="text" name="fields.institution" placeholder="Institution" data-ff-tab="fields.institution:email:fields." required />
                <label class="ff-6157d077c71e8685f183b6c7__label fd-form-label">Institution</label>
              </div>


              <div class="ff-6157d077c71e8685f183b6c7__field fd-form-group">
                <input class="ff-6157d077c71e8685f183b6c7__control fd-form-control" type="text" name="fields." placeholder="Role (Faculty,  Grad student, Postdoc)" data-ff-tab="fields.:fields.institution:qU7UVD4eDB" />
                <label class="ff-6157d077c71e8685f183b6c7__label fd-form-label">Role (Faculty, Grad student, Postdoc)</label>
              </div>

              <input type="text" name="confirm_email_address" style="display: none" />
              <!--tpl {% endblock %} tpl-->
            </div>

            <div class="ff-6157d077c71e8685f183b6c7__preference">
              <div class="ff-6157d077c71e8685f183b6c7__preference-title">
                <div>
                  <div style="text-align:center;" data-paragraph="true"><span style="font-family:freight-big-pro, serif;text-transform:none;">Which Science Writing Lab are you interested in?</span></div>
                </div>
              </div>
              <div class="ff-6157d077c71e8685f183b6c7__preference-control">
                <div class="ff-6157d077c71e8685f183b6c7__preference-list">
                  <!--tpl {% block preferences %} tpl-->

                  <div class="ff-6157d077c71e8685f183b6c7__preference-item">
                    <label class="ff-6157d077c71e8685f183b6c7__form-check fd-form-check">
                      <input type="checkbox" name="preferences" class="fd-form-check__input" value="qU7UVD4eDB" data-ff-tab="qU7UVD4eDB:fields.:t9nK4tokY1" />
                      <span class="fd-form-check__checkmark"></span>
                      <span class="fd-form-check__label">One-on-One labs</span>
                    </label>
                  </div>


                  <div class="ff-6157d077c71e8685f183b6c7__preference-item">
                    <label class="ff-6157d077c71e8685f183b6c7__form-check fd-form-check">
                      <input type="checkbox" name="preferences" class="fd-form-check__input" value="t9nK4tokY1" data-ff-tab="t9nK4tokY1:qU7UVD4eDB:SPq4N7ty9e" />
                      <span class="fd-form-check__checkmark"></span>
                      <span class="fd-form-check__label">Peer Feedback labs</span>
                    </label>
                  </div>


                  <div class="ff-6157d077c71e8685f183b6c7__preference-item">
                    <label class="ff-6157d077c71e8685f183b6c7__form-check fd-form-check">
                      <input type="checkbox" name="preferences" class="fd-form-check__input" value="SPq4N7ty9e" data-ff-tab="SPq4N7ty9e:t9nK4tokY1:submit" />
                      <span class="fd-form-check__checkmark"></span>
                      <span class="fd-form-check__label">Both</span>
                    </label>
                  </div>

                  <!--tpl {% endblock %} tpl-->
                </div>
              </div>
            </div>
            <div class="ff-6157d077c71e8685f183b6c7__footer" data-ff-el="footer">
              <button type="submit" class="ff-6157d077c71e8685f183b6c7__button fd-btn" data-ff-el="submit" data-ff-tab="submit">
                <span>Send me Registration for 20% off</span>
              </button>
            </div>
          </div>
          <div class="ff-6157d077c71e8685f183b6c7__success fd-form-success" data-ff-el="success">
            <div data-paragraph="true">Thank you for subscribing!</div>
          </div>
          <div class="ff-6157d077c71e8685f183b6c7__error fd-form-error" data-ff-el="error"></div>
        </form>
      </div>
    </div>
  </div>
</div>
