<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/d/{{ .Params }}?primary_color=d40055', text: 'Register for Science Writing Labs', color: '#d40055', textColor: '#ffffff', branding: true }); }</script>
<!-- Calendly badge widget end -->
